body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*.jumbotron{
  position: relative;
}*/ 
input#description.form-control{
  position: absolute;
  bottom: 4.25rem;
width: 75%;
border-radius: 21px;
justify-content: center;
}


.fa-search:before{
  position: absolute;
  bottom: 4.9rem;
  right: 3.5rem;
  color: #9A9A9A;
}




@media only screen and (min-width: 425px) {
  input#description.form-control{
  width:69%;
  margin-left: 3.5rem !important;
  padding-left: 1.5rem;
  }
  .fa-search:before{
    right: 5.5rem;
}

input#location.form-control{
  width: 80%;
  margin: 0 5rem 0 2.5rem;
}
}

@media only screen and (min-width: 768px) {
  input#description.form-control{
    width:37%;
    margin-left: 13rem !important;
}
.fa-search:before{
  right: 14.5rem;
}

input#location.form-control{
  width: 50%;
  margin: 0 5rem 0 10.5rem;
}

span.Collapsible_trigger.is-closed{
  color: red;
}
}

@media only screen and (min-width: 1024px) {
  input#description.form-control{
    width:34%;
    margin-left: 19rem !important;
    padding-left: 1.75rem;
}

.fa-search:before{
  right: 20.5rem;
}

input#location.form-control{
  width: 50%;
  margin: 0 2rem 0 14.5rem;
}

}

@media only screen and (min-width: 1024px) {
#card.mb-3.hoverable.mx-3.bg-white.shadow.m.mx-md-5.card{
 margin: 4rem 10rem 4rem 10rem !important;
}
ul.px-3.px-md-5.pagination{
  margin-left: 10rem;
  padding-left: 0;
}

}

@media only screen and (min-width: 1044px) {
  input#description.form-control{
    width:30%;
    margin-left: 30.5em !important;
}

.fa-search:before{
  right: 31.5rem;
}

input#location.form-control{
  margin: 0 2rem 0 21.5rem;
}
}